body{
    width: 100%;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width:100%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('Images/slots.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
     width:100%;
     height: 100%;
     width: 100%;
     height: 100%;
     background-color: rgb(1, 4, 8);
     opacity: 0.8;
     inset: 0px;
}

.space{
    margin-top: 1rem;
}

.title{
    color: rgb(0, 105, 53); font-size: 2.5rem;line-height: 1; 	text-align: center;
}




@media (min-width: 768px) { 
    .title{
    color: rgb(0, 105, 53); font-size: 4rem;line-height: 1; 	text-align: center;
}
 }

 .form{
        padding: 16px;
    }
  .custom-padding {
    padding: 16px;
  }
  @media (min-width: 768px) { /* md breakpoint */
    .custom-padding {
      padding: 100px;
    }
  }
#responseMessage {
    color: #fff;
    font-size: 16px;
}
.btn-success {
  background-color: #32CD32;
  border-color: #32CD32;
  color: #000;
}

.btn-success:hover {
  background-color: #32CD32;
  border-color: #f7f8f8;
}
.custom-select {
  width: 100%;
  background-color:rgb(1,4,8);;
  color: gray;
  border: 2px solid rgb(0,105,53);
  border-radius: 4px;
  padding: 10px;
  outline: none;
}
.custom-select:focus {
  border-color: rgb(103,194,57);
  box-shadow: 0 0 0 2px rgba(103,194,57, 0.5);
}
